*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Teko', sans-serif;
font-family: 'Yanone Kaffeesatz', sans-serif;
}
.flex{
    display: flex;
}
.bold{
    font-weight: bold;
}
.sh{
    font-size: 23px;
    font-weight: 600;
    color:rgb(13, 214, 197) ;
}
/*-------Navbar-----*/

.navbar ul li a{
    font-size: 22px;
}
.navbar ul li:hover{
    background: cornsilk;
    border-radius: 10px;
}
.ghh {
  background-color: rgb(13, 214, 197) ;
  height: 2.5rem;
  width: 8rem;
}
.navbar .btn:hover{
    background: cornsilk;
    border: 1px solid rgb(13, 214, 197);
}
.navbar .btn:hover a{
    color:rgb(13, 214, 197) ;
}
.ghh a{
    color: cornsilk;
    text-decoration: none;
    font-size: 22px;
}
.style{
    font-style: italic;
}
nav {
    border-bottom: 1px solid rgb(13, 214, 197);
    box-shadow: ;
}
.logo img{
    width: 5rem;
}
/*-------Hero-----*/
.hero{
    width: 100%;
    height: 100%;
    background-image: linear-gradient(90deg, rgb(61, 77, 77) , rgba(180, 209, 224, 0.3)),url(./hero-bg.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: relative;
    overflow: hidden;
    color: white;
}
.hero .text-hero{
    margin: 8rem 6rem;
}
.hero h1{
    font-size: 60px;
}
.hero p{
    font-size: 25px;
    text-align: left;
}
.hero .ghh{
    width: 13rem;
    height: 2.5rem;
    background-color: cornsilk;
    color: black;
}
.hero .ghh a {
    color: black;
    text-decoration: none;
    font-size: 22px;
}

.btn{
    border-radius: 12px 25px;
    transition: all ease .5s;
}

.btn:hover{
    background-color: rgb(13, 214, 197) ;
    color: white;
    border: 1px solid cornsilk;
}
.btn:hover a{
    color: cornsilk;
}

/*-------Service-----*/
.text-service h2 , p , .icon-serv {
    text-align: center;
}
.text-service h2{
    color:rgb(13, 214, 197) ;
    font-size: 40px;
}
.text-service h2 span{
    color: black;
    font-size: 43px;
    font-weight: bold;
}
.text-service p{
    font-size: 22px;
    line-height: 40px;
}
.text-service .style-icon{
    text-align: center;
    font-size: 40px;
}
.service-icon{
    text-align: center;
    margin: 1.5rem 0;
    color:rgb(13, 214, 197) ;
    font-size: 40px;
    
}
.services-details .card{
    height: 23rem;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: all ease .5s;
}
.services-details .card:hover{
    transform: translateY(-5%);
}
.services-details .card h3{
    font-weight: 600;
}
.services-details .card p{
    font-size: 20px;
    padding: 0 10px;
    line-height: 40px;
}
.services-details .card a{
    text-decoration: none;
    font-size: 20px;
    color:rgb(13, 214, 197) ;
}

/*-------Why US-----*/
.why-us-details .details{
    text-align: center;  
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.why-us-details .details p{
    margin: 1rem 20px;
    padding-bottom: 20px;
}
.why-us-details .details h2{
    font-size: 30px;
}
.why-us-icon:hover {
    background: cornsilk;
    color:rgb(13, 214, 197) ;
}
.why-us-icon{
    text-align: center;
    margin: 1.5rem 0;
    color:cornsilk ;
    padding: 20px;
    font-size: 20px;
    background:rgb(13, 214, 197) ;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    transition: all ease .5s;
}
/*-------At A Glance-----*/
.glance-details{
    text-align: center;
    background: ;
}

.glance-details h1{
    font-size: 50px;
    margin-top: -1rem;
}
.glance-details p{
    font-size: 25px;
}
.at-a-glance{
    background: rgb(162, 196, 197);
}
/*-------footer-----*/
.footer-icon i{
    font-size: 20px;
}
.footer-icon i{
    background:rgb(13, 214, 197) ;
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    text-align: center;
    padding-top: 12px;
    color: cornsilk;
    transition: all ease .50s;
}
.footer-icon i:hover{
    background: cornsilk;
    color: rgb(13, 214, 197);
    border: 1px solid rgb(13, 214, 197);
}
.footer p{
    font-size: 20px;
    line-height: 30px;
}
.footer-icon{
text-align: center;
}
.quick{
    text-align: center;
}
.quick h3{
    font-weight: 600;
    color:rgb(13, 214, 197) ;
}
.quick .quick-item a{
    text-decoration: none;
    color: black;
}
.quick .quick-item ul{
    display: inline-block;
    list-style-type: none;
}
.quick .quick-item ul li {
    padding-top: 8px;
    font-size: 20px;
}
.quick .quick-item ul li:hover{
    color:rgb(13, 214, 197) ;
}
.quick-item span{
    padding-left: 8px;
}
.last li {
    margin-top: 15px;
}
footer{
    margin-top: 1rem;
    border-top: 2px solid black;
}
footer p{
    margin-top: 20px;
    font-size: 20px;
}
footer a{
    text-decoration: none;
    font-size: 25px;
}
/*-------Team-----*/
.team{
    
}
.team-head{
    text-align: center;
    background: rgb(162, 196, 197);
}
.team-head i{
    font-size: 35px;
    margin-top: 3rem;
    margin-bottom: 15px;
    
}
.team-head h2{
    font-size: 45px;
    color: black;
}
.team-head span{
    color: black;
}
.team-head p {
    font-size: 25px;
    padding-bottom: 3rem;
}
.team-details{
    text-align: center;
}
.team .pic {
    display: inline-block;
    border: 4px solid white;
    border-radius: 50%;
    box-shadow: 0 0 4px 4px #016d9b;
    overflow: hidden;
    z-index: 1;
    position: relative;
  }
  
  .team .pic img {
    width: 9rem;
    height: 9rem;
  }
  .team .head img{
      height: 15rem;
      width: 15rem;
      display: inline-block;
      border: 4px solid white;
      border-radius: 50%;
      box-shadow: 0 0 4px 4px #016d9b;
      overflow: hidden;
      z-index: 1;
      position: relative;
      text-align: center;
      align-items: center;
  }
  .team h2{
      font-size: 35px;
      font-weight: 700;
      color:rgb(13, 214, 197) ;
  }
  .team h4{
      font-size: 30px;
  }
  .team p{
      font-size: 25px;
  }
  /*-------Protfolio-----*/
.protfolio img{
      width: 100%;
      border: 1px solid rgb(13, 214, 197) ;
  }
.protfolio .prot-text{
      text-align: center;
      margin: 4rem 0;
  }

.thumb{
        margin-bottom: 30px;
          }
.page-top{
              margin-top:85px;
          }   
img.zoom {
      width: 100%;
      height: 200px;
      border-radius:5px;
      object-fit:cover;
      -webkit-transition: all .3s ease-in-out;
      -moz-transition: all .3s ease-in-out;
      -o-transition: all .3s ease-in-out;
      -ms-transition: all .3s ease-in-out;
  }
 
.modal-header {
     
    border-bottom: none;
  }
.modal-title {
          color:#000;
      }
.modal-footer{
        display:none;  
      }
.prot-details .details-prot p{
    text-align: left;
    font-size: 25px;
    font-weight: 600;
    
}
.prot-details .details-prot .item{
    margin-top: -10px;
    font-size: 20px;
}

/*-------Lead Generation-----*/
.lead-details{
    text-align: center;
}
.lead-details h2 span{
    color: rgb(13, 214, 197);
}
.lead-details p{
    font-size: 18px;
    line-height: 30px;
    text-align: left;
    margin-top: 1.5rem;
}
.lead-details ul li{
    text-align: left;
    font-size: 16px;
}
/*-------about-us-----*/
.about-us p{
    text-align: left;
    font-size: 25px;
}
.about-us img{
    width: 90%;
}
.about-us .logoo{
    text-align: center;
}
.about-us a{
    text-decoration: none;
}
.about-us .logoo {
    box-shadow: 0 0 2px 2px #ced6da;
    padding: 2rem 20px;
}
.about-us {
    margin-top: 3rem;
}
.abt p{
    text-align: left;
    font-size: 25px;
}
.abt h2{
    color: rgb(13, 214, 197);
    font-weight: 600;
}